
.barfiller {
	width: 100%;
	height: 15px;
	background: #323847;
	position: relative;
	margin-bottom: 20px;
}

.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    background:#333;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
	margin-top: -36px;
	font-size: 25px;
	color: #000;
	position: absolute;
	z-index: 2;
	left: auto !important;
	right: 0;
	font-weight: 700;
}
